<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Movieflix</title>
</head>
<body>
   <% try { %>
    <h1> <%= my_list[0]%></h1>
    <p> <%= my_list[1] %></p>
    <a href="/"> Home Page</a>
  <% } catch(e) {%>
      <% console.log(e);%>
    <p> Movie could not be found!</p>
  <% } %>
</body>
</html>
